header {
    background: teal;
    padding: 20px 0;
    height: 60px;
}

main {
    background: rebeccapurple;
    height: calc(100vh - 60px - 60px) ;
}

footer {
    background: olive;
    padding: 20px 0;
    height: 60px;
}

p {
    background: tan;
    
    font-size: 20px;
    
}

b {
    background: rgb(30, 139, 0);
    width: 100px;
}